.pgt .box-wrapper {
  border-width: 2px;
  border-radius: 5px;
  padding: 10px;
}
.pgt .scrollable {
  --scroll-margin: 0;
  padding: 10px;
}
.pgt .form-footer {
  margin-top: 10px;
}
.pgt .form-footer .button {
  font-size: 22px;
  width: 100%;
  padding: 5px;
}
.pgt table {
  border-radius: 5px;
}
.pgt table [data-action=roll]:hover {
  cursor: pointer;
  box-shadow: 0 0 10px var(--color-shadow-primary) inset;
  border-radius: 5px;
}
.pgt table tr {
  height: 35px;
}
.pgt table tr.large {
  height: 50px;
}
.pgt table th {
  padding: 0 5px;
}
.pgt table th:not(:first-child) {
  text-align: center;
}
.pgt table th .header-field {
  display: flex;
  align-items: center;
  justify-content: center;
}
.pgt table th img {
  height: 30px;
  width: 30px;
  border-radius: 3px;
  -o-object-position: 50% 0;
  object-position: 50% 0;
  -o-object-fit: cover;
  object-fit: cover;
}
.pgt table td {
  font-size: 16px;
  padding: 0;
}
.pgt table td:not(:first-child) input {
  text-align: center;
}
.pgt table td .centered {
  display: flex;
  align-items: center;
  justify-content: center;
}
.pgt table td input {
  background-color: transparent;
  border-radius: 0;
  border: 0;
  padding: 0;
}
.pgt table td input.label {
  text-indent: 10px;
}
.pgt table td input[readonly] {
  cursor: default;
}
.pgt table td input[readonly]:focus {
  outline: 0;
}
.pgt table td .actor-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  margin-right: 5px;
}
.pgt table td .actor-wrapper a {
  padding: 10px;
  margin: 3px;
}
.pgt table td .actor-wrapper a:hover {
  cursor: pointer;
  box-shadow: 0 0 10px var(--color-shadow-primary) inset;
  border-radius: 5px;
}
.pgt table td .actor-wrapper .actor {
  display: flex;
  align-items: center;
  width: 100%;
}
.pgt table td .actor-wrapper .actor:hover {
  cursor: pointer;
  box-shadow: 0 0 10px var(--color-shadow-primary) inset;
  border-radius: 5px;
}
.pgt table td .actor-wrapper .actor label {
  cursor: pointer;
}
.pgt table td .actor-wrapper .actor img {
  margin-right: 10px;
  width: 50px;
  height: 50px;
  -o-object-position: 50% 0;
  object-position: 50% 0;
  -o-object-fit: cover;
  object-fit: cover;
}

#adventurers-register table {
  max-height: 500px;
}

#actor-request .actor-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  max-height: 230px;
  flex-direction: row;
}
#actor-request .actor-wrapper .actor {
  width: 160px;
  border-radius: 5px;
  padding: 5px;
  background-color: var(--table-header-bg-color);
  border: 2px solid var(--color-text-selection-bg);
  box-shadow: 0 0 3px 0px var(--color-text-selection-bg) inset;
}
#actor-request .actor-wrapper .actor img {
  height: 150px;
  width: 150px;
  -o-object-position: 50% 0;
  object-position: 50% 0;
  -o-object-fit: cover;
  object-fit: cover;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  box-shadow: 0 0 4px 2px var(--color-cool-5-50);
}
#actor-request .actor-wrapper .actor input {
  margin-top: 6px;
  margin-bottom: 3px;
  border: 0;
  color: var(--color-text-primary);
  font-size: 18px;
  width: 150px;
  background-color: transparent;
  text-align: center;
}
#actor-request .actor-wrapper .actor:hover.selectable {
  cursor: pointer;
  box-shadow: 0 0 12px 3px var(--color-text-selection-bg) inset;
}
#actor-request .actor-wrapper .actor.selected {
  box-shadow: 0 0 12px 3px #06aa06 inset;
  border-color: #06aa06;
}
#actor-request .actor-wrapper .actor.selected:hover {
  box-shadow: 0 0 12px 3px #06aa06 inset;
}
#actor-request .actor-wrapper .actor .roll-result-wrapper {
  width: 0;
  height: 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-family: var(--font-h4);
  font-size: 60px;
  text-shadow: -1px 0 black, 0 3px black, 3px 0 black, 0 0px black;
}
#actor-request .actor-wrapper .actor .roll-result-wrapper.awaiting-result .roll-result {
  background-color: rgba(111, 139, 199, 0.4941176471);
}
#actor-request .actor-wrapper .actor .roll-result-wrapper.awaiting-result .roll-result .dice-roll {
  display: inline-block;
  animation: spin 1s linear infinite;
  cursor: default;
  font-size: 80px;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#actor-request .actor-wrapper .actor .roll-result-wrapper.success .roll-result {
  background-color: rgba(111, 199, 111, 0.4941176471);
}
#actor-request .actor-wrapper .actor .roll-result-wrapper.fail .roll-result {
  background-color: rgba(199, 111, 111, 0.4941176471);
}
#actor-request .actor-wrapper .actor .roll-result-wrapper .roll-result {
  height: 199px;
  width: 160px;
  position: absolute;
  left: 0;
  top: 0;
  margin-top: -8px;
  margin-left: -7px;
  display: flex;
  align-items: center;
  padding-bottom: 30px;
  justify-content: center;
  border-radius: 5px;
  z-index: 2;
}
#actor-request .roll-dc {
  margin: 10px;
}
#actor-request .roll-dc input {
  width: auto;
  text-align: end;
}
#actor-request .select-options-wrapper {
  display: flex;
  width: auto;
  gap: 10px;
}
#actor-request .button-wrapper {
  width: -webkit-fill-available;
  height: -moz-fit-content;
  height: fit-content;
  max-height: 350px;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
}
#actor-request .button-wrapper .option {
  min-width: 170px;
  width: 100%;
  height: 36px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  text-align: end;
}

#condition-manager .condition-fieldset {
  max-height: 320px;
  overflow-y: auto;
}
#condition-manager .conditions-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 10px;
}
#condition-manager .conditions-wrapper .condition {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 5px;
  border: 2px solid var(--color-tabs-border);
}
#condition-manager .conditions-wrapper .condition label {
  padding: 5px;
  font-size: 12px;
}
#condition-manager .conditions-wrapper .condition img {
  padding: 5px;
  width: 50px;
  height: 50px;
  min-width: 50px;
  min-height: 50px;
  background-color: var(--color-text-subtle);
  border-radius: 5px;
  margin-top: 5px;
}
#condition-manager .conditions-wrapper .condition:hover {
  box-shadow: 0 0 8px 3px var(--color-form-hint-hover) inset;
  cursor: pointer;
}

#gm-screen {
  width: calc(100% - 350px);
  border-radius: 0px 0px 10px 10px;
  z-index: 40 !important;
  overflow: visible;
}
#gm-screen .window-content {
  overflow: visible;
}
#gm-screen .window-header {
  display: none;
}
#gm-screen .window-content {
  height: 700px;
}
#gm-screen .window-content #gm-screen-content {
  width: 100%;
  height: 100%;
}
#gm-screen .window-content #gm-screen-content .content {
  width: 100%;
  height: 100%;
  display: flex;
}
#gm-screen .window-content #gm-screen-content .content .selector {
  width: 100%;
  height: 600px;
  border: 1px solid var(--color-tabs-border);
  border-radius: 5px;
  padding: 0;
  scrollbar-gutter: auto;
}
#gm-screen .window-content #gm-screen-content .content .selector .actor {
  display: flex;
  align-items: center;
  border: 1px solid var(--color-tabs-border);
  background-color: var(--table-header-bg-color);
}
#gm-screen .window-content #gm-screen-content .content .selector .actor img {
  width: 60px;
  height: 60px;
  min-width: 60px;
  min-height: 60px;
  -o-object-position: 50% 0;
  object-position: 50% 0;
  -o-object-fit: cover;
  object-fit: cover;
  border-right: 2px solid var(--color-tabs-border);
}
#gm-screen .window-content #gm-screen-content .content .selector .actor img:hover {
  cursor: pointer;
}
#gm-screen .window-content #gm-screen-content .content .selector .actor input {
  font-size: 18px;
  width: 100%;
  background: transparent;
  border: 0;
  text-indent: 6px;
  color: var(--color-text-primary);
}
#gm-screen .window-content #gm-screen-content .content .selector .actor input:hover {
  cursor: pointer;
}
#gm-screen .window-content #gm-screen-content .content .selector .actor:hover {
  box-shadow: 0 0 30px 5px var(--color-text-selection-bg) inset;
  cursor: pointer;
}
#gm-screen .window-content #gm-screen-content .content .selector .actor.activeA {
  background-color: #2c2c7e;
}
#gm-screen .window-content #gm-screen-content .content .selector .actor.activeB {
  background-color: #3a7e26;
}
#gm-screen .window-content #gm-screen-content .content .journal-table {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 4px;
}
#gm-screen .window-content #gm-screen-content .content .journal-table .cell {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--color-tabs-border);
  border-radius: 5px;
}
#gm-screen .window-content #gm-screen-content .tab-selector {
  position: absolute;
  top: 100%;
  display: flex;
}
#gm-screen .window-content #gm-screen-content .tab-selector .tab {
  height: 40px;
  width: auto;
  background-color: #5a5353;
  padding: 15px;
  border-radius: 0 0 10px 10px;
  margin-right: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #000000;
  border-top: 0;
}
#gm-screen .window-content #gm-screen-content .tab-selector .tab.active {
  color: #000000;
  background-color: #b4b3b3;
  font-weight: bold;
  padding: 20px;
  height: 50px;
}
#gm-screen .window-content #gm-screen-content .tab-selector .tab.active:hover {
  cursor: default;
  box-shadow: none;
}
#gm-screen .window-content #gm-screen-content .tab-selector .tab:hover {
  cursor: pointer;
  box-shadow: 0 0 8px 3px var(--color-form-hint-hover) inset;
}
#gm-screen .window-content #gm-screen-content .menu-buttons {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(100% - 35px);
}
#gm-screen .window-content #gm-screen-content .menu-buttons .left-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
#gm-screen .window-content #gm-screen-content .menu-button {
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  color: #ffffff;
  border: 1px solid #ffffff;
  text-align: center;
  min-width: 35px;
  min-height: 35px;
  border-radius: 30px;
  justify-content: center;
  display: flex;
  align-items: center;
  margin-right: 5px;
}
#gm-screen .window-content #gm-screen-content .menu-button:hover {
  box-shadow: 0 0 10px 3px #cf5959 inset;
  cursor: pointer;
}
#gm-screen .window-content #gm-screen-content .menu-button.close {
  font-weight: bold;
  background-color: #9c9c9c;
  color: #6d0000;
  text-shadow: -1px 0 #6d0000, 0 1px #6d0000, 1px 0 #6d0000, 0 -1px #6d0000;
  border-color: #6d0000;
  border-radius: 5px;
  min-width: 35px;
  min-height: 35px;
  margin-right: 0;
}
#gm-screen .window-content #gm-screen-content .menu-button.add-tab {
  background-color: #006d18;
}
#gm-screen .window-content #gm-screen-content .menu-button.clear-tab {
  background-color: #7f2991;
}
#gm-screen .window-content #gm-screen-content .menu-button.delete-tab, #gm-screen .window-content #gm-screen-content .menu-button.remove-record {
  background-color: #6d0000;
}
#gm-screen .window-content #gm-screen-content .menu-button.config-tab {
  background-color: #00196d;
}

.gm-screen-embeded.actor {
  min-height: 630px;
  height: 630px !important;
}
.gm-screen-embeded.journal-sheet .window-header {
  display: none;
}
.gm-screen-embeded.journal-sheet .journal-sidebar {
  flex-basis: var(--sidebar-width-collapsed) !important;
}
.gm-screen-embeded.journal-sheet .journal-sidebar .action-buttons {
  padding: 10px;
}
.gm-screen-embeded.journal-sheet .journal-sidebar input {
  display: none;
}
.gm-screen-embeded.journal-sheet .journal-sidebar [data-action=toggleSidebar], .gm-screen-embeded.journal-sheet .journal-sidebar [data-action=toggleSearch], .gm-screen-embeded.journal-sheet .journal-sidebar [data-action=createPage] {
  display: none;
}
.gm-screen-embeded .window-header {
  visibility: hidden;
}
.gm-screen-embeded .window-resize-handle {
  visibility: hidden;
}

#simple-popup .form-group input {
  flex: 1;
}