.pgt {
 
  .box-wrapper {
    border-width: 2px;
    border-radius: 5px;
    padding: 10px;
  }

  .scrollable {
    --scroll-margin: 0;
    padding: 10px;
  }

  .form-footer {
    margin-top: 10px;

    .button {
      font-size: 22px;
      width: 100%;
      padding: 5px;
    }
  }

  table {
    border-radius: 5px;

    [data-action="roll"]:hover {
      cursor: pointer;
      box-shadow: 0 0 10px var(--color-shadow-primary) inset;
      border-radius: 5px;
    }

    tr {
      height: 35px;

      &.large {
        height: 50px;
      }
    }

    th { 
      padding: 0 5px;

      &:not(:first-child) {
        text-align: center;
      }

      .header-field {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      img {
        height: 30px;
        width: 30px;
        border-radius: 3px;
        object-position: 50% 0;
        object-fit: cover;
      }
    }

    td {
      font-size: 16px;
      padding: 0;
      
      &:not(:first-child) {
        input {
          text-align: center;
        }
      }

      .centered {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      input {
        background-color: transparent;
        border-radius: 0;
        border: 0;
        padding: 0;

        &.label {
          text-indent: 10px;
        }

        &[readonly] {
          cursor: default;

          &:focus {
            outline: 0;
          }
        }
      }

      .actor-wrapper {
        display: flex;
        align-items: center;
        width: 100%;
        margin-right: 5px;

        a {
          padding: 10px;
          margin: 3px;

          &:hover {
            cursor: pointer;
            box-shadow: 0 0 10px var(--color-shadow-primary) inset;
            border-radius: 5px;
          }
        }

        .actor {
          display: flex;
          align-items: center;
          width: 100%;

          &:hover {
            cursor: pointer;
            box-shadow: 0 0 10px var(--color-shadow-primary) inset;
            border-radius: 5px;
          }

          label {
            cursor: pointer;
          }

          img {
            margin-right: 10px;
            width: 50px;
            height: 50px;
            object-position: 50% 0;
            object-fit: cover;
          }
        }
      }
    }
  }
}

#adventurers-register {
  
  table {
    max-height: 500px;
  }
}

#actor-request {

  .actor-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    max-height: 230px;
    flex-direction: row;

    .actor {
      width: 160px;
      border-radius: 5px;

      padding: 5px;
      background-color: var(--table-header-bg-color); 
      border: 2px solid var(--color-text-selection-bg);
      box-shadow: 0 0 3px 0px var(--color-text-selection-bg) inset;

      img {
        height: 150px;
        width: 150px;
        object-position: 50% 0;
        object-fit: cover;
        border: 1px solid var(--border-color);
        border-radius: 5px;
        box-shadow: 0 0 4px 2px var(--color-cool-5-50);
      }

      input {
        margin-top: 6px;
        margin-bottom: 3px;
        border: 0;
        color: var(--color-text-primary);
        font-size: 18px;
        width: 150px;
        background-color: transparent;
        text-align: center;
      }

      &:hover.selectable {
        cursor: pointer;
        box-shadow: 0 0 12px 3px var(--color-text-selection-bg) inset;
      }

      &.selected {
        box-shadow: 0 0 12px 3px #06aa06 inset;
        border-color: #06aa06;

        &:hover {
          box-shadow: 0 0 12px 3px #06aa06 inset;
        }
      }

      .roll-result-wrapper {
        width: 0;
        height: 0;
        position: relative;

        display: flex;
        align-items: center;
        justify-content: center;

        font-weight: bold;
        font-family: var(--font-h4);
        font-size: 60px;
        text-shadow: -1px 0 black, 0 3px black, 3px 0 black, 0 -0px black;

        &.awaiting-result .roll-result {
          background-color: #6f8bc77e;

          .dice-roll {
            display: inline-block;
            animation: spin 1s linear infinite;
            cursor: default;
            font-size: 80px;
          }

          @keyframes spin {
            from { transform: rotate(0deg); }
            to   { transform: rotate(360deg); }
          }
        }

        &.success .roll-result {
          background-color: #6fc76f7e;
        }

        &.fail .roll-result {
          background-color: #c76f6f7e;
        }

        .roll-result {
          height: 199px;
          width: 160px;
          position: absolute;
          left: 0;
          top: 0;
          margin-top: -8px;
          margin-left: -7px;
          display: flex;
          align-items: center;
          padding-bottom: 30px;
          justify-content: center;
          border-radius: 5px;
          z-index: 2;
        }
      }
    }
  }

  .roll-dc {
    margin: 10px;

    input {
      width: auto;
      text-align: end;
    }
  }

  .select-options-wrapper {
    display: flex;
    width: auto;
    gap: 10px;
  }

  .button-wrapper {
    width: -webkit-fill-available;
    height: fit-content;
    max-height: 350px;


    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;

    .option {
      min-width: 170px;
      width: 100%;
      height: 36px;
      padding: 5px;
      display: flex;
      justify-content: space-between;
      text-align: end;
    }
  }
}

#condition-manager {

  .condition-fieldset {
    max-height: 320px;
    overflow-y: auto;
  }

  .conditions-wrapper {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;

    .condition {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      border-radius: 5px;
      border: 2px solid var(--color-tabs-border);

      label {
        padding: 5px;
        font-size: 12px;
      }

      img {
        padding: 5px;
        width: 50px;
        height: 50px;
        min-width: 50px;
        min-height: 50px;

        background-color: var(--color-text-subtle);;
        border-radius: 5px;
        margin-top: 5px;
      }

      &:hover {
        box-shadow: 0 0 8px 3px var(--color-form-hint-hover) inset;
        cursor: pointer;
      }
    }
  }
}

#gm-screen {
  width: calc(100% - 350px);
  border-radius: 0px 0px 10px 10px;
  z-index: 40 !important;
  overflow: visible;

  .window-content {
    overflow: visible;
  }

  .window-header {
    display: none;
  }

  .window-content {
    height: 700px;

    #gm-screen-content {
      width: 100%;
      height: 100%;

      .content {
        width: 100%;
        height: 100%;
        
        display: flex;

        .selector {
          width: 100%;
          height: 600px;
          border: 1px solid var(--color-tabs-border);
          border-radius: 5px;
          padding: 0;
          scrollbar-gutter: auto;

          .actor {
            display: flex;
            align-items: center;
            border: 1px solid var(--color-tabs-border);
            background-color: var(--table-header-bg-color);

            img {
              width: 60px;
              height: 60px;
              min-width: 60px;
              min-height: 60px;
              object-position: 50% 0;
              object-fit: cover;
              border-right: 2px solid var(--color-tabs-border);

              &:hover {
                cursor: pointer;
              }
            }

            input {
              font-size: 18px;
              width: 100%;
              background: transparent;
              border: 0;
              text-indent: 6px;
              color: var(--color-text-primary);

              &:hover {
                cursor: pointer;
              }
            }

            &:hover {
              box-shadow: 0 0 30px 5px var(--color-text-selection-bg) inset;
              cursor: pointer;
            }

            &.activeA {
              background-color: #2c2c7e;
            }

            &.activeB {
              background-color: #3a7e26;
            }
          }
        }

        .journal-table {
          width: 100%;
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          grid-template-rows: repeat(2, 1fr);
          gap: 4px;

          .cell {
            display: flex;
            align-items: center;
            justify-content: center;
            border: 2px solid var(--color-tabs-border);
            border-radius: 5px;
          }
        }
      }

      .tab-selector {
        position: absolute;
        top: 100%;
        display: flex;
        
        .tab {
          height: 40px;
          width: auto;
          background-color: #5a5353;
          padding: 15px;
          border-radius: 0 0 10px 10px;
          margin-right: 3px;

          display: flex;
          align-items: center;
          justify-content: center;
          border: 2px solid #000000;
          border-top: 0;

          &.active {
            color: #000000;
            background-color: #b4b3b3;
            font-weight: bold;
            padding: 20px;
            height: 50px;

            &:hover {
              cursor: default;
              box-shadow: none;
            }
          }

          &:hover {
            cursor: pointer;
            box-shadow: 0 0 8px 3px var(--color-form-hint-hover) inset;
          }
        }
      }

      .menu-buttons {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: calc(100% - 35px);

        .left-menu {
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }

      .menu-button {
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
        color: #ffffff;
        
        border: 1px solid #ffffff;
        text-align: center;
        min-width: 35px;
        min-height: 35px;
        border-radius: 30px;
        justify-content: center;
        display: flex;
        align-items: center;
        margin-right: 5px;

        &:hover {
          box-shadow: 0 0 10px 3px #cf5959 inset;
          cursor: pointer;
        }

        &.close {
          font-weight: bold;
          background-color: #9c9c9c;
          color: #6d0000;
          text-shadow: -1px 0 #6d0000, 0 1px #6d0000, 1px 0 #6d0000, 0 -1px #6d0000;
          border-color: #6d0000;
          border-radius: 5px;
          min-width: 35px;
          min-height: 35px;
          margin-right: 0;
        }

        &.add-tab {
          background-color: #006d18;
        }

        &.clear-tab {
          background-color: #7f2991;
        }

        &.delete-tab, &.remove-record {
          background-color: #6d0000;
        }

        &.config-tab {
          background-color: #00196d;
        }
      }
    }
  }
}

.gm-screen-embeded {

  &.actor {
    min-height: 630px;
    height: 630px !important;
  }

  &.journal-sheet {

    .window-header {
      display: none;
    }

    .journal-sidebar {
      flex-basis: var(--sidebar-width-collapsed) !important;

      .action-buttons {
        padding: 0;

        button {
          margin: 0;
        }
      }

      .headings {
        display: none;
      }

      input {
        display: none;
      }

      [data-action="toggleSidebar"], [data-action="toggleCollapse"], [data-action="toggleSearch"], [data-action="createPage"] {
        display: none;
      }
    }
  }

  .window-header {
    visibility: hidden;
  }

  .window-resize-handle, .window-resizable-handle {
    visibility: hidden;
  }
}

#simple-popup {

  .form-group {
    
    input {
      flex: 1;
    }
  }
}