.pgt {
 
  .box-wrapper {
    border-width: 2px;
    border-radius: 5px;
    padding: 10px;
  }

  .scrollable {
    --scroll-margin: 0;
    padding: 10px;
  }

  .form-footer {
    margin-top: 10px;

    .button {
      font-size: 22px;
      width: 100%;
      padding: 5px;
    }
  }
}

#actor-request {

  .actor-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    max-height: 230px;
    flex-direction: row;

    .actor {
      width: 160px;
      border-radius: 5px;

      padding: 5px;
      background-color: var(--table-header-bg-color); 
      border: 2px solid var(--color-text-selection-bg);
      box-shadow: 0 0 3px 0px var(--color-text-selection-bg) inset;

      img {
        height: 150px;
        width: 150px;
        object-position: 50% 0;
        object-fit: cover;
        border: 1px solid var(--border-color);
        border-radius: 5px;
        box-shadow: 0 0 4px 2px var(--color-cool-5-50);
      }

      input {
        margin-top: 6px;
        margin-bottom: 3px;
        border: 0;
        color: var(--color-text-primary);
        font-size: 18px;
        width: 150px;
        background-color: transparent;
        text-align: center;
      }

      &:hover.selectable {
        cursor: pointer;
        box-shadow: 0 0 12px 3px var(--color-text-selection-bg) inset;
      }

      &.selected {
        box-shadow: 0 0 12px 3px #06aa06 inset;
        border-color: #06aa06;

        &:hover {
          box-shadow: 0 0 12px 3px #06aa06 inset;
        }
      }

      .roll-result-wrapper {
        width: 0;
        height: 0;
        position: relative;

        display: flex;
        align-items: center;
        justify-content: center;

        font-weight: bold;
        font-family: var(--font-h4);
        font-size: 60px;
        text-shadow: -1px 0 black, 0 3px black, 3px 0 black, 0 -0px black;

        &.awaiting-result .roll-result {
          background-color: #6f8bc77e;

          .dice-roll {
            display: inline-block;
            animation: spin 1s linear infinite;
            cursor: default;
            font-size: 80px;
          }

          @keyframes spin {
            from { transform: rotate(0deg); }
            to   { transform: rotate(360deg); }
          }
        }

        &.success .roll-result {
          background-color: #6fc76f7e;
        }

        &.fail .roll-result {
          background-color: #c76f6f7e;
        }

        .roll-result {
          height: 199px;
          width: 160px;
          position: absolute;
          left: 0;
          top: 0;
          margin-top: -8px;
          margin-left: -7px;
          display: flex;
          align-items: center;
          padding-bottom: 30px;
          justify-content: center;
          border-radius: 5px;
          z-index: 2;
        }
      }
    }
  }

  .roll-dc {
    margin: 10px;

    input {
      width: auto;
      text-align: end;
    }
  }

  .select-options-wrapper {
    display: flex;
    width: auto;
    gap: 10px;
  }

  .button-wrapper {
    width: -webkit-fill-available;
    height: fit-content;
    max-height: 350px;


    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;

    .option {
      min-width: 170px;
      width: 100%;
      height: 36px;
      padding: 5px;
      display: flex;
      justify-content: space-between;
      text-align: end;
    }
  }
}

#condition-manager {

  .condition-fieldset {
    max-height: 320px;
    overflow-y: auto;
  }

  .conditions-wrapper {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;

    .condition {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      border-radius: 5px;
      border: 2px solid var(--color-tabs-border);

      label {
        padding: 5px;
        font-size: 12px;
      }

      img {
        padding: 5px;
        width: 50px;
        height: 50px;
        min-width: 50px;
        min-height: 50px;

        background-color: var(--color-text-subtle);;
        border-radius: 5px;
        margin-top: 5px;
      }

      &:hover {
        box-shadow: 0 0 8px 3px var(--color-form-hint-hover) inset;
        cursor: pointer;
      }
    }
  }
}